/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.intro{width:100%;
	background: tomato;overflow:hidden;}

.image{float:left;height:500px;width:50%;}

.image img{height:500px;width:500px;}

.te {float: right; width:48%;}

.te p{font-size: 30px;text-align:center;}


.te button {background-color: gray;}

.te button a{text-decoration: none;color:white;}





.searchleft h1{
  margin-left: 10px; 
}

.searchleft p{
  margin-left: 10px;
  margin-top: -20px; 
}
.search_right{
  float: right;
  margin-top: -110px;
}
.main img{
  width: 100%;
  height:10px;
  margin-top: -20px;
}
.menu{
  float: right;
  margin-right: 10px;
  margin-top: -40px;
}
.menu a{
    
    text-decoration: none;
    color: black;
    padding: 12px;
    font-size: 15px;
    }
.div2{
      background-image: url(../img/gray.jpg)
    }
.para p{
  text-align: center;
  font-style: bold;
  font-size: 20px;
  letter-spacing: 8px;
}
.para-img {
  width: 100%;
  height:380px;
  background-color: #242322;
  margin-top: -100px;
}
.para-img p{
  color:white;
  text-align: center;
  font-size: 100px;
  padding: 100px;
}
.slide{
  position:relative;
  background: black;
  display: block;
  bottom: 130px;
  left: 940px;
  width: 30%;
}
.slide h3{
  color: white;
}
.slide p{color: white;}
.div3{
  width: 100%
  height:100px;
  display: block;
  overflow: hidden;
  margin-top: -100px;
}
.left{
  width: 20%;
  float: left;
  padding-left: 150px;
}
.left h4{
  color: #fc039d;
}
.b1{
  background-color: black;
  float: left;
  color: white;
  margin-left: -80px;
  margin-top: 20px;
  height: 80px;
}
.middle{
  width: 20%;
  float: left;
  padding-left: 150px;
}
.middle h4{
  color: #fc039d;
}
.b2{
  background-color: black;
  float: left;
  color: white;
  margin-left: -80px;
  margin-top: 20px;
  height: 80px;
}
.right{
  width: 20%;
  float: left;
  padding-left: 150px;
}
.right h4{
  color: #fc039d;
}
.b3{
  background-color: black;
  float: left;
  color: white;
  margin-left: -80px;
  margin-top: 20px;
  height: 80px;
}
.background{
  background-image: url(../img/gray.jpg);
  width: 100%;
  height: 390px;
  overflow: visible;
}
.bleft{
  width: 20%;
  float: left;
  padding-left: 150px;
}
.bleft h4{
  text-align: center;
}

.bleft p{
  text-align: center;
}
.bmiddle{
  width: 20%;
  float: left;
  padding-left: 150px;
}
.bmiddle h4{
  text-align: center;
}
.bmiddle p{
  text-align: center;
}
.bright{
  width: 20%;
  float: left;
  padding-left: 150px;
}

.bright h4{
  text-align: center;
}
.bright p{
  text-align: center;
}

.b4 img{
  color: white;
  height: 180px;
  width: 260px;
  margin-top: 20px;
}
.one{
  width: 15%;
  float: left;
  padding-left: 100px;
}
.two{
  width: 15%;
  float: left;
  padding-left: 100px;
}
.three{
  width: 15%;
  float: left;
  padding-left: 100px;
}
.four{
  width: 10%;
  float: left;
  padding-left: 100px;
}
.footer{
  background-color: #2c265c;
  width: 100%;
  height: 60px;
  margin-top: 350px;
  
}
.footer p{
  color:white;
  padding-left: 10px;
  font-size: 20px;
  float: left;
}

.rside{
  float: right;
  padding-right: 10px;
}
